.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 40px;
  padding: 0;
}

.inputs {
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #83c7fe;
  border-radius: 10px;
  box-shadow: 5px 5px 4px 3px #888888;
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
}

.inputs button {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  width: 150px;
  height: 50px;
  background-color: #0b1ba9;
  color:white;
}

.inputs button:hover {
  transform: scale(0.95);
}

button:hover {
  cursor: pointer;
}



.listOfFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.friend {
  width: 400px;
  height: 60px;
  background-color: #83c7fe;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  box-shadow: 5px 5px 4px 3px #888888;
}

.friend h3 {
  margin-left: 50px;
}

.friendContainer button {
  width: 60px;
  height: 60px;
  background-color: #83c7fe;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px white;
  box-shadow: 5px 5px 4px 3px #888888;
}

.friendContainer button:hover {
  background-color: #0b1ba9;
  box-shadow: none;
}

#removeBtn {
  border-left: none;
}